* {
    margin: 0;
    height: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.map {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1110px;
    height: 740px;
    background: url(../img/map.jpg);
}
