@import "./common";

.region {
    width: 370px;
    height: 370px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &_america {
        background: #18567fd3;
    }
    &_europe {
        background: #7c3351cd;
    }
    &_asia {
        background: #a61a1ad7;
    }
    &_south-america {
        background: #18567fd3;
    }
    &_africa {
        background: #efe307bd;
    }
    &_australia {
        background: #ec8028b9;
    }
}

.region {
    &__title {
        position: absolute;
        top: 5px;
        font-size: 38px;
        font-weight: bold;
        color: white;
    }
}

.country {
    width: 320px;
    height: 270px;
    &__item_icon {
        display: flex;
        height: 62px;
        width: 320px;
    }
    &_img {
        width: 100px;
        height: 62px;
    }
    &_title {
       color: white;
       font-weight: bold;
       font-size: 30px;
       height: 60px;
       width: 81px;
       display: flex;
       align-items: center;
       justify-content: flex-end; 
    }
    &_america {
        background: #274a61b6;
    }
    &_europe {
        background: #5a275ec7;
    }
    &_asia {
        background: #7d1f1c;
    }
    &_south-america {
        background: #274a61b6;
    }
    &_africa {
        background: #939e2fc4;
    }
    &_australia {
        background: #9b733cbf;
    }
}

.city {
    &_container {
        margin-top: 34px;
        margin-left: 16px;
        width: 160px;
        height: 140px;
    }
    &__title {
       width: 82px;
       height: 23px; 
       color: white;
       font-size: 26px;
    }
    &__name {
        display: flex;
        height: 36px;
        width: 170px;
        &_first {
            margin-top: 23px;
        }
        &_second {
            margin-top: 13px;
        }
    }
    &_img {
        width: 57px;
        height: 36px;
    }
    &_markers {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 36px;
        font-size: 21px;
        color: white;
    }
}